.button {
  background-color: rgb(68, 15, 15);
  border: none;
  padding: 1.5% 5%;
  color: white;
  border-radius: 20px;

  /* height: 2rem; */
  cursor: pointer;
}

.badge {
  padding: 4px 8px;
  margin-left: 12px;
  border-radius: 40%;
  background-color: #8a2b06;
}
